*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: a, sans-serif;
    font-weight: 400;
    background-color: orange;

}

.sectionOne{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

.info{
    width: 350px;
}

.info :is(h1){
    font-family: sans-serif;
    font-size:2rem;
    padding: 10px;
}

.info :is(p){
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.info :is(button){
    cursor:grab;
    font-weight: 100;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: lightcoral;
    font-family: sans-serif;
    padding: 10px;
    font-size: 15px;
    border: 2px solid gray;
}
.card{
    display: flex;
    justify-content: space-around;
}

.p1{
    padding: 10px;
}

.sectionTwo{
    text-align: center;
    padding: 10px;
}

.sectionTwo h1{
    padding: 20px;
    font-family: sans-serif;
    font-size: 2rem;
    
}

.sectionTwo img{
    height: 350px;
    width: 350px;
}

.sectionTwo button{
    padding: 5px;
    color: black;
    background-color: lightcoral;
    margin-top: 10px;
    cursor:grab;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    border: 2px solid gray;
    
}   

.sectionTwo p{
    padding: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 1rem;

}

